<%- include('./partials/head') %>

<main>
  <header>
    <h1>UltiTV Commentary Source</h1>
  </header>
  <section class="card-container">
    <!-- Game Info -->
    <section class="cardGameInfo">
      <div class="card-inner">
        <h2><%= parsedGameData.field %></h2>
        <p><%= parsedGameData.gameStatus %> - <%= parsedGameData.division %></p>
      </div>
    </section>

  
    <!-- Config tab -->
    <section class="cardConfig">
      <div class="card-inner">
        <h3>Config</h3>
      </div>
    </section>

    <!-- Score -->
    <section class="cardScore">
      <div class="card-inner">
        <h3>Score</h3>
      </div>
    </section>

    <!-- Team 1 -->
    <section class="cardTeam">
      <div class="card-inner">
        <h3><%= parsedGameData.team2Name %></h3>
      </div>
      <div class="teamPlayer-container">
      <% parsedGameData.team1Players.forEach(team1Player => { %>
        
        <div class="teamPlayer-card"> 
          <div class="jerseyNumber"><%= team1Player.jerseyNumber %></div>
        <div class="namestat-wrapper">
          <div class="playerName"><%= team1Player.name %></div>
          <div class="gameStats">
            <p class="goal"><%= parsedStats.scoredPoints.filter(sp => sp.scoredBy === parsedGameData.playerId).length; %></p>
            <p class="assist"><%= parsedStats.scoredPoints.filter(sp => sp.assistBy === parsedGameData.playerId).length; %></p>
            <p class="block">3</p>
            <p class="turnover">4</p>
          </div>
        </div>
          
        </div>
      <% }) %>
    </div>
    </section>

    <!-- Team 2 -->
    <section class="cardTeam">
      <div class="card-inner">
        <h3><%= parsedGameData.team2Name %></h3>
      </div>
      <div class="teamPlayer-container">
      <% parsedGameData.team2Players.forEach(team2Player => { %>
        
        <div class="teamPlayer-card"> 
          <div class="jerseyNumber"><%= team2Player.jerseyNumber %></div>
        <div class="namestat-wrapper">
          <div class="playerName"><%= team2Player.name %></div>
          <div class="gameStats">
            <p class="goal"><%= parsedStats.scoredPoints.filter(sp => sp.scoredBy === parsedGameData.playerId).length; %></p>
            <p class="assist">2</p>
            <p class="block">3</p>
            <p class="turnover">4</p>
          </div>
        </div>
          
        </div>
      <% }) %>
    </div>
    </section>
  </section>
</main>

<%- include('./partials/foot') %>